@import 'var';

*,
::after,
::before {
    margin: 0;
    padding: 0;
    font-family: $poppins;
}

html {
    box-sizing: border-box;
}

// Top nav container
.hoolix-top-nav-container {
    width: 100%;
    background-color: transparent;
    position: fixed;
    transition: 0.3s ease-in-out;
    padding: 25px 0;
    z-index: 999;

    .top-nav {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1170px;

        .top-nav-logo {
            color: $orange;
            text-decoration: none;
            font-family: $ubuntu;
            font-size: 55px;
            font-weight: 700;
        }

        .top-nav-menu {
            ul {
                display: inline-flex;

                li {
                    list-style: none;

                    a {
                        text-decoration: none;
                        color: $dark;
                        font-size: 16px;
                        font-weight: 500;
                        position: relative;
                    }

                    a:hover {
                        color: $orange;
                    }

                    a:before {
                        content: "";
                        position: absolute;
                        display: block;
                        width: 100%;
                        height: 2px;
                        bottom: 0;
                        left: 0;
                        top: 23px;
                        background-color: $orange;
                        transform: scaleX(0);
                        transition: transform 0.3s ease;
                    }

                    a:hover::before {
                        transform: scaleX(1);
                    }
                }

                li:not(:last-child) {
                    margin-right: 25px;
                }
            }
        }

        .top-nav-btn {
            color: $white;
            background-color: $orange;
            padding: 13px 50px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            font-weight: 600;
            box-shadow: 0 8px 16px 0 rgba(253, 71, 20, 0.24);
            cursor: pointer;
            transition: ease-in-out 0.3s;
        }

        .top-nav-btn:hover {
            transform: translateY(-5px);
        }
    }
}

//Mobile top nav container
.hoolix-mb-top-nav-container {
    width: 100%;
    background-color: #fff;
    position: relative;
    // bottom: 0;
    display: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 15px;
    transition: 0.3s ease-in-out;
    // transform: translateY(100px);
    z-index: 999;

    .mb-top-bar {
        background-color: $orange;
        width: 100%;
        display: flex;
        justify-content: center;

        a {
            color: $white;
            text-decoration: none;
            text-align: center;
            font-weight: 600;
            margin: auto;
        }
    }

    .mb-top-nav {
        width: $width;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 350px !important;
        margin: auto;
        padding: 2%;

        .top-nav-logo {
            color: $orange;
            text-decoration: none;
            font-family: $ubuntu;
            font-size: 35px;
            font-weight: 700;
        }

        .top-nav-btn {
            color: $white;
            background-color: $orange;
            padding: 7px 20px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            font-weight: 600;
            box-shadow: 0 8px 16px 0 rgba(253, 71, 20, 0.24);
            cursor: pointer;
            transition: ease-in-out 0.3s;
        }

        .top-nav-btn:hover {
            transform: translateY(-5px);
        }

        .mb-top-nav-menu {
            position: relative;
            cursor: pointer;

            span {
                background-color: $orange;
                width: 25px;
                height: 4px;
                border-radius: 5px;
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: transform 0.5s, width 0.5s;
            }

            .line-1 {
                transform: translate(-50%, -10px);

            }

            .line-3 {
                transform: translate(-50%, 6px);
            }

        }

        .open-menu {
            .line-1 {
                transform: translate(-50%, -50%) rotate(-45deg);
            }

            .line-3 {
                transform: translate(-50%, -50%) rotate(45deg);
            }

            .line-2 {
                width: 0;
                //transform: translate(-50%, -10%) rotate(45deg);
            }
        }
    }
}

// Mobile nav container
.hoolix-mb-nav-container {
    width: 100%;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    display: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 15px;
    transition: 0.3s ease-in-out;
    transform: translateY(100px);
    z-index: 999;

    .mb-nav {
        width: $width;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 350px;
        margin: auto;
        padding: 2%;

        a {
            text-decoration: none;
            color: $dark;
            font-size: 16px;
            font-weight: 500;
            position: relative;
            display: flex;
            justify-content: center;
            flex-direction: column;

            .mb-nav-logo {
                width: 30px;
            }

            img {
                width: 25px;
                margin: auto;
            }

            p {
                text-align: center;
            }

        }
    }
}

// Hero container
.hoolix-hero-container {
    width: 100%;
    background-color: $light-orng;
    // height: 100vh;
    display: flex;
    align-items: center;

    .hero {
        max-width: 1170px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;
        // top: 50px;
        padding: 150px 0 100px 0;
        column-gap: 50px;

        .hero-txt {
            flex: 1;

            p {
                font-size: 16px;
                color: $dark;
                font-weight: 500;
                text-transform: capitalize;

                span {
                    color: $orange;
                }
            }

            h1 {
                font-family: $ubuntu;
                font-size: 64px;
                line-height: 1;
                text-transform: capitalize;
                font-weight: bold;
                color: $dark;
                margin-block: 10px 15px;

                span {
                    color: $orange;
                }
            }

            h2 {
                font-family: $poppins;
                font-weight: 400;
                font-size: 16px;
            }

            button {
                color: $orange;
                background-color: #fff;
                padding: 13px 50px;
                border: 1px solid $orange;
                border-radius: 5px;
                font-size: 16px;
                font-weight: 600;
                cursor: pointer;
                transition: ease-in-out 0.3s;
                position: relative;
                top: 30px;
            }

            button:hover {
                transform: translateY(-5px);
                box-shadow: $boxShadow;
            }
        }

        .hero-img {
            img {
                width: 500px;
                height: auto;
            }
        }
    }
}

// Why us container
.hoolix-why-us-container {
    width: 100%;
    background-color: $light-blue;

    .why-us {
        max-width: 1170px;
        margin: auto;
        text-align: center;
        padding: 120px 0;

        h2 {
            font-family: $ubuntu;
            font-size: 48px;

            span {
                font-family: $ubuntu;
                color: $orange;
            }
        }

        p {
            margin-top: 24px;
            font-size: 16px;
            color: $light-grey;
        }

        .why-us-reasons {
            display: flex;
            column-gap: 30px;
            justify-content: space-between;
            align-items: stretch;
            margin-top: 64px;

            div {
                background-color: #fff;
                border-radius: 8px;
                padding: 40px;
                text-align: left;
                box-shadow: 14px 24px 72px 0 rgba(102, 102, 102, 0.10);
                flex: 1;
                box-sizing: border-box;

                img {
                    position: relative;
                    left: 0;
                    margin-bottom: 48px;
                }

                h3 {
                    margin-bottom: 16px;
                    font-size: 24px;
                    font-weight: 500;
                }

                p {
                    font-size: 16px;
                    color: $light-grey;
                }
            }
        }
    }
}

// Our servies container
.hoolix-our-servies-container {
    width: 100%;
    overflow: hidden;

    .our-servies {
        max-width: 1170px;
        margin: auto;
        text-align: center;
        padding: 120px 0 0 0;

        h2 {
            font-family: $ubuntu;
            font-size: 48px;

            span {
                font-family: $ubuntu;
                color: $orange;
            }
        }

        p {
            margin-top: 24px;
            font-size: 16px;
            color: $light-grey;
        }

        .our-services-slider {
            margin-top: 39px;
            position: relative;

            .slick-prev {
                position: absolute;
                top: 505px;
                left: 46%;
                margin-right: 12px;
                z-index: 9;
            }

            .slick-prev::before {
                content: url('https://nuwan-dev.github.io/hoolix/assets/icons/Btn-prev.svg') !important;
                display: block;
                height: 40px !important;
                width: 40px !important;
                opacity: 1;
            }

            .slick-prev:hover::before {
                content: url("https://nuwan-dev.github.io/hoolix/assets/icons/Btn-prev-hover.svg") !important;
            }

            .slick-next {
                position: absolute;
                top: 505px;
                right: 46%;
                z-index: 9;
            }

            .slick-next::before {
                content: url('https://nuwan-dev.github.io/hoolix/assets/icons/Btn-next.svg') !important;
                display: block;
                height: 40px !important;
                width: 40px !important;
                transition: all ease-in-out 0.3s;
                opacity: 1;
            }

            .slick-next:hover::before {
                transition: all ease-in-out 0.3s;
                content: url("https://nuwan-dev.github.io/hoolix/assets/icons/Btn-next-hover.svg") !important;
            }

            .slick-track {
                width: 100%;
                padding: 25px 0 100px 0;

                .service {
                    margin: 0 14px;
                    display: flex;
                    flex-direction: column;
                    column-gap: 0;
                    transition: ease-in-out 0.3s;
                    border-radius: 8px;

                    .service-img {
                        background-image: url("https://nuwan-dev.github.io/hoolix/assets/imgs/service-placeholder.png") !important;
                        height: 290px;
                        width: auto;
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        border-radius: 8px;
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;
                    }

                    .service-txt {
                        border: solid 2px $icon-light-grey;
                        border-top: 0;
                        border-bottom-left-radius: 8px;
                        border-bottom-right-radius: 8px;
                        padding: 32px 16px;
                        transition: ease-in-out 0.3s;

                        .s-txt-1 {
                            display: flex;
                            justify-content: space-between;
                            align-items: flex-start;

                            h5 {
                                font-size: 24px;
                                font-weight: 600;
                                color: $dark;
                                text-align: left;
                            }

                            .s-txt-rating {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                column-gap: 8px;
                                display: none;

                                img {
                                    width: 16px;
                                    height: auto;
                                }

                                p {
                                    color: $light-grey;
                                    font-size: 16px;
                                    font-weight: 500;
                                    line-height: 0;
                                    margin-top: 0;
                                }
                            }
                        }

                        .s-txt-2 {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-top: 20px;

                            .s-technologies {
                                display: inherit;
                                column-gap: 8px;
                                display: none;

                                img {
                                    width: 16px;
                                    height: auto;
                                }
                            }

                            a {
                                color: $orange;
                                font-size: 16px;
                                font-weight: 700;
                                padding: 6px;
                                border-radius: 8px;
                                background-color: $light-orange;
                                text-decoration: none;
                                transition: ease-in-out 0.3s;
                                width: 100%;
                            }

                            a:hover {
                                background-color: $orange;
                                color: $white;
                            }
                        }
                    }
                }

                .service:hover {
                    box-shadow: 0 16px 80px 0 rgba(254, 147, 94, 0.2);

                    .service-txt {
                        border-color: $light-orange;
                    }
                }
            }


        }
    }
}

// Our work container 
.hoolix-our-work-container {
    width: 100%;
    overflow: hidden;

    .our-work {
        max-width: 1170px;
        margin: auto;
        text-align: center;
        padding: 120px 0 0 0;

        h2 {
            font-family: $ubuntu;
            font-size: 48px;

            span {
                font-family: $ubuntu;
                color: $orange;
            }
        }

        p {
            margin-top: 24px;
            font-size: 16px;
            color: $light-grey;
        }

        .our-work-slider {
            margin-top: 39px;
            position: relative;

            .slick-prev {
                position: absolute;
                top: -22px;
                left: 1045px;
                margin-right: 12px;
                z-index: 9;
            }

            .slick-prev::before {
                content: url('https://nuwan-dev.github.io/hoolix/assets/icons/Btn-prev.svg') !important;
                display: block;
                height: 40px !important;
                width: 40px !important;
                opacity: 1;
            }

            .slick-prev:hover::before {
                content: url("https://nuwan-dev.github.io/hoolix/assets/icons/Btn-prev-hover.svg") !important;
            }

            .slick-next {
                position: absolute;
                top: -22px;
                right: 33px;
                z-index: 9;
            }

            .slick-next::before {
                content: url('https://nuwan-dev.github.io/hoolix/assets/icons/Btn-next.svg') !important;
                display: block;
                height: 40px !important;
                width: 40px !important;
                transition: all ease-in-out 0.3s;
                opacity: 1;
            }

            .slick-next:hover::before {
                transition: all ease-in-out 0.3s;
                content: url("https://nuwan-dev.github.io/hoolix/assets/icons/Btn-next-hover.svg") !important;
            }

            .slick-track {
                width: 100%;
                padding: 25px 0 100px 0;

                .work {
                    margin: 0 14px;
                    display: flex;
                    flex-direction: column;
                    column-gap: 0;
                    transition: ease-in-out 0.3s;
                    border-radius: 8px;

                    .work-img {
                        background-image: url("https://nuwan-dev.github.io/hoolix/assets/imgs/service-placeholder.png") !important;
                        height: 290px;
                        width: auto;
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        border-radius: 8px;
                        // border-bottom-left-radius: 0;
                        // border-bottom-right-radius: 0;
                    }

                    .work-txt {
                        border: solid 2px $icon-light-grey;
                        border-top: 0;
                        border-bottom-left-radius: 8px;
                        border-bottom-right-radius: 8px;
                        padding: 32px 16px;
                        transition: ease-in-out 0.3s;
                        position: relative;
                        top: -4px;

                        .w-txt-1 {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            h5 {
                                font-size: 24px;
                                font-weight: 600;
                                color: $dark;
                                text-align: left;
                            }

                            .w-txt-rating {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                column-gap: 8px;

                                img {
                                    width: 16px;
                                    height: auto;
                                }

                                p {
                                    color: $light-grey;
                                    font-size: 16px;
                                    font-weight: 500;
                                    line-height: 0;
                                    margin-top: 0;
                                }
                            }
                        }

                        .w-txt-2 {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-top: 20px;

                            .w-technologies {
                                display: inherit;
                                column-gap: 8px;

                                img {
                                    width: 13px;
                                    height: auto;
                                }
                            }

                            a {
                                color: $orange;
                                font-size: 16px;
                                font-weight: 700;
                                padding: 6px;
                                border-radius: 8px;
                                background-color: $light-orange;
                                text-decoration: none;
                                transition: ease-in-out 0.3s;
                            }

                            a:hover {
                                background-color: $orange;
                                color: $white;
                            }
                        }
                    }
                }

                .work-1 {
                    .work-img {
                        background-image: url('../assets/imgs/WhatsApp\ Image\ 2024-07-03\ at\ 01.36.08_b20fbb6f.jpg') !important;
                    }
                }

                .work-2 {
                    .work-img {
                        background-image: url('../assets/imgs/WhatsApp\ Image\ 2024-07-03\ at\ 01.36.09_965f713e.jpg') !important;
                    }
                }

                .work:hover {
                    box-shadow: 0 16px 80px 0 rgba(254, 147, 94, 0.2);

                    .work-txt {
                        border-color: $light-orange;
                    }
                }
            }


        }
    }
}

// Testimonial container
.hoolix-testimonial-container {
    width: 100%;
    overflow: hidden;
    background-color: $light-blue;

    .t-wrapper {
        max-width: 1170px;
        margin: auto;
        padding: 120px 0;

        .testimonials {
            display: flex;
            justify-content: center;
            // align-items: flex-start;
            flex-direction: column;

            .t-txt {
                // flex-basis: 50%;
                text-align: center;

                h2 {
                    font-family: $ubuntu;
                    font-size: 48px;

                    span {
                        font-family: $ubuntu;
                        color: $orange;
                    }
                }

                p {
                    margin-top: 24px;
                    font-size: 16px;
                    color: $light-grey;
                }
            }

            .t-slider {
                margin-top: 65px;
                position: relative;

                .slick-prev::before {
                    content: url("https://nuwan-dev.github.io/hoolix/assets/icons/Btn-prev.svg") !important;
                    display: block;
                    height: 40px !important;
                    width: 40px !important;
                    opacity: 1;
                    transition: all ease-in-out 0.3s;
                }

                .slick-prev {
                    position: absolute;
                    top: 420px;
                    left: 46%;
                    margin-right: 12px;
                    z-index: 9;
                }

                .slick-prev:hover::before {
                    content: url("https://nuwan-dev.github.io/hoolix/assets/icons/Btn-prev-hover.svg") !important;
                }

                .slick-next {
                    position: absolute;
                    top: 420px;
                    right: 46%;
                    z-index: 9;
                }

                .slick-next::before {
                    content: url("https://nuwan-dev.github.io/hoolix/assets/icons/Btn-next.svg") !important;
                    display: block;
                    height: 40px !important;
                    width: 40px !important;
                    transition: all ease-in-out 0.3s;
                    opacity: 1;
                }

                .slick-next:hover::before {
                    content: url("https://nuwan-dev.github.io/hoolix/assets/icons/Btn-next-hover.svg") !important;
                }

                .slick-track {
                    padding-bottom: 50px;
                }

                // flex-shrink: 50%;
                .testimoial {
                    background-color: $white;
                    padding: 28px 68px 34px 34px;
                    border-radius: 10px;
                    position: relative;
                    // width: 600px !important;
                    transition: 0.3s ease-in-out;
                    margin: 0 10px;
                    // box-shadow: 

                    >img {
                        // position: absolute;
                        // top: -25px;
                        // left: -25px;
                        width: 68px;
                        height: auto;
                        margin: auto;
                    }

                    .testimonial-msg {
                        margin-top: 25px;
                        font-size: 16px;
                        color: $dark-grey;
                        text-align: center;
                    }

                    .testimonial-prsn {
                        font-size: 18px;
                        font-weight: 600;
                        color: $dark;
                        margin-top: 34px;
                        text-align: center;
                    }

                    .testimonial-des {
                        color: $light-grey;
                        font-size: 14px;
                        text-align: center;
                    }

                }

                .testimoial:hover {
                    box-shadow: 0 8px 16px 0 rgba(253, 71, 20, 0.24);
                }
            }
        }
    }
}

// Footer container
// Newsletter container
footer {
    position: relative;

    .hoolix-newsletter-container {
        width: 100%;
        margin-top: 120px;
        position: relative;
        z-index: 2;

        .newsletter {
            margin: auto;
            width: 58.625rem;
            height: 15rem;
            display: flex;
            text-align: center;
            justify-content: center;
            flex-direction: column;
            // background-color: $orange;
            background-image: url('/assets/icons/Element-1.svg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom left;
            border-radius: 16px;
            z-index: 2;

            h3 {
                font-family: $ubuntu;
                font-size: 28px;
                font-weight: bold;
                color: $white;
            }

            a {
                font-family: $ubuntu;
                font-size: 28px;
                font-weight: 500;
                color: $white;
                text-decoration: none;
                color: $orange;
                background-color: $white;
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 20px;
                padding: 20px;
                border-radius: 16px;
                cursor: pointer;
            }
        }
    }

    .hoolix-footer-container {
        width: 100%;
        background-color: $grey-white;
        position: absolute;
        top: 50%;
        padding-top: 225px;
        padding-bottom: 50px;

        .footer {
            display: flex;
            width: 1170px;
            margin: auto;

            div {
                a {
                    color: $dark;
                }
            }

            .footer-col-1 {
                // width: 50%;

                // width: 255px;
                margin-right: 317px;

                a {
                    margin-bottom: 24px !important;
                    // display: block;
                    text-decoration: none;
                    color: $orange;
                    font-size: 50px;
                    font-family: $ubuntu;
                    font-weight: bold;
                }

                .footer-social {
                    display: flex;
                    column-gap: 15px;

                    a {
                        color: $dark;

                        img {
                            width: 25px;
                        }
                    }
                }

                p {
                    margin-bottom: 16px;
                    margin-top: 24px;
                }
            }

            .footer-col-2,
            .footer-col-3,
            .footer-col-4 {
                width: 20%;
                display: flex;
                flex-direction: column;

                h4 {
                    margin-bottom: 32px;
                }

                a {
                    text-decoration: none;
                }

                a:not(:last-child) {
                    margin-bottom: 16px;
                }
            }
        }

        .hoolix-footer-bottom {
            width: 100%;

            .footer-bottom {
                width: 1170px;
                border-top: 1px solid $dark;
                padding: 20px 0;
                margin: auto;
                margin-top: 75px;

                p {
                    text-align: center;
                    font-size: 16px;
                }
            }

        }
    }
}

// Chat now container
.hoolix-chat-container {
    position: fixed;
    right: 75px;
    bottom: 75px;

    .chat {
        position: relative;

        a {
            position: absolute;
            // bottom: 100px;
            // right: 20px;

            img {
                width: 50px;
            }
        }

        .chat-hover {
            position: absolute;
            bottom: -35px;
            right: 10px;
            transition: $transition1;
            font-weight: 600;
            font-size: 20px;
            display: none;
        }

    }
}

// Careers page styles

//Careers container
.hoolix-careers-container {
    width: 100%;

    .careers {
        max-width: 1170px;
        margin: auto;
        padding: 120px 0;
        text-align: center;
        padding-top: 200px;

        h1 {
            font-family: $ubuntu;
            font-size: 48px;
            margin-bottom: 25px;

            span {
                color: $orange;
                font-family: inherit;
            }
        }

        h3 {
            // margin-top: 24px;
            font-size: 16px;
            color: #666;
            font-weight: normal;
            margin-bottom: 100px;
        }

        .career {
            padding: 31px 39px;
            margin-bottom: 15px;
            border: 1px solid #f2f4fe;
            box-shadow: -8px 8px 16px 0px rgb(15 7 44 / 4%);
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: $poppins;
            text-align: left;

            p {
                font-size: 24px;
                text-transform: capitalize;
            }

            a {
                color: #FD4714;
                font-size: 16px;
                font-weight: 700;
                padding: 10px 20px;
                border-radius: 8px;
                background-color: #FFE7DB;
                text-decoration: none;
                transition: ease-in-out 0.3s;
                // width: 100%;
                // display: inline-block;
            }
        }
    }
}