@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Calibri Bold";
  src: url("../calibri-bold.ttf");
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  box-sizing: border-box;
}

.hoolix-top-nav-container {
  width: 100%;
  background-color: transparent;
  position: fixed;
  transition: 0.3s ease-in-out;
  padding: 25px 0;
  z-index: 999;
}
.hoolix-top-nav-container .top-nav {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1170px;
}
.hoolix-top-nav-container .top-nav .top-nav-logo {
  color: #FD4714;
  text-decoration: none;
  font-family: "Calibri Bold", sans-serif;
  font-size: 55px;
  font-weight: 700;
}
.hoolix-top-nav-container .top-nav .top-nav-menu ul {
  display: inline-flex;
}
.hoolix-top-nav-container .top-nav .top-nav-menu ul li {
  list-style: none;
}
.hoolix-top-nav-container .top-nav .top-nav-menu ul li a {
  text-decoration: none;
  color: #222222;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}
.hoolix-top-nav-container .top-nav .top-nav-menu ul li a:hover {
  color: #FD4714;
}
.hoolix-top-nav-container .top-nav .top-nav-menu ul li a:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  top: 23px;
  background-color: #FD4714;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.hoolix-top-nav-container .top-nav .top-nav-menu ul li a:hover::before {
  transform: scaleX(1);
}
.hoolix-top-nav-container .top-nav .top-nav-menu ul li:not(:last-child) {
  margin-right: 25px;
}
.hoolix-top-nav-container .top-nav .top-nav-btn {
  color: #fff;
  background-color: #FD4714;
  padding: 13px 50px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 8px 16px 0 rgba(253, 71, 20, 0.24);
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
.hoolix-top-nav-container .top-nav .top-nav-btn:hover {
  transform: translateY(-5px);
}

.hoolix-mb-top-nav-container {
  width: 100%;
  background-color: #fff;
  position: relative;
  display: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 15px;
  transition: 0.3s ease-in-out;
  z-index: 999;
}
.hoolix-mb-top-nav-container .mb-top-bar {
  background-color: #FD4714;
  width: 100%;
  display: flex;
  justify-content: center;
}
.hoolix-mb-top-nav-container .mb-top-bar a {
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  margin: auto;
}
.hoolix-mb-top-nav-container .mb-top-nav {
  width: 1170px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 350px !important;
  margin: auto;
  padding: 2%;
}
.hoolix-mb-top-nav-container .mb-top-nav .top-nav-logo {
  color: #FD4714;
  text-decoration: none;
  font-family: "Calibri Bold", sans-serif;
  font-size: 35px;
  font-weight: 700;
}
.hoolix-mb-top-nav-container .mb-top-nav .mb-top-nav-menu {
  position: relative;
  cursor: pointer;
}
.hoolix-mb-top-nav-container .mb-top-nav .mb-top-nav-menu span {
  background-color: #FD4714;
  width: 25px;
  height: 4px;
  border-radius: 5px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s, width 0.5s;
}
.hoolix-mb-top-nav-container .mb-top-nav .mb-top-nav-menu .line-1 {
  transform: translate(-50%, -10px);
}
.hoolix-mb-top-nav-container .mb-top-nav .mb-top-nav-menu .line-3 {
  transform: translate(-50%, 6px);
}
.hoolix-mb-top-nav-container .mb-top-nav .open-menu .line-1 {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.hoolix-mb-top-nav-container .mb-top-nav .open-menu .line-3 {
  transform: translate(-50%, -50%) rotate(45deg);
}
.hoolix-mb-top-nav-container .mb-top-nav .open-menu .line-2 {
  width: 0;
}

.hoolix-mb-nav-container {
  width: 100%;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  display: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 15px;
  transition: 0.3s ease-in-out;
  transform: translateY(100px);
  z-index: 999;
}
.hoolix-mb-nav-container .mb-nav {
  width: 1170px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 350px;
  margin: auto;
  padding: 2%;
}
.hoolix-mb-nav-container .mb-nav a {
  text-decoration: none;
  color: #222222;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.hoolix-mb-nav-container .mb-nav a .mb-nav-logo {
  width: 30px;
}
.hoolix-mb-nav-container .mb-nav a img {
  width: 25px;
  margin: auto;
}
.hoolix-mb-nav-container .mb-nav a p {
  text-align: center;
}

/*.hoolix-mb-top-header-container {
    // width: 100%;
    padding: 5%;

    .mb-top-header {
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a:nth-child(1) {
            color: $orange;
            text-decoration: none;
            font-family: $calibriB;
            font-size: 45px;
            font-weight: 700;
        }

        a:nth-child(2) {
            color: #fff;
            background-color: #FD4714;
            padding: 13px 50px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
            transition: ease-in-out 0.3s;
            text-decoration: none;
        }
    }
} */
.hoolix-hero-container {
  width: 100%;
  background-color: #FEFCFB;
  display: flex;
  align-items: center;
}
.hoolix-hero-container .hero {
  max-width: 1170px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  padding: 150px 0 100px 0;
  column-gap: 50px;
}
.hoolix-hero-container .hero .hero-txt {
  flex: 1;
}
.hoolix-hero-container .hero .hero-txt p {
  font-size: 16px;
  color: #222222;
  font-weight: 500;
  text-transform: capitalize;
}
.hoolix-hero-container .hero .hero-txt p span {
  color: #FD4714;
}
.hoolix-hero-container .hero .hero-txt h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 64px;
  line-height: 1;
  text-transform: capitalize;
  font-weight: bold;
  color: #222222;
  margin-block: 10px 15px;
}
.hoolix-hero-container .hero .hero-txt h1 span {
  color: #FD4714;
}
.hoolix-hero-container .hero .hero-txt h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.hoolix-hero-container .hero .hero-txt button {
  color: #FD4714;
  background-color: #fff;
  padding: 13px 50px;
  border: 1px solid #FD4714;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  position: relative;
  top: 30px;
}
.hoolix-hero-container .hero .hero-txt button:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px 0 rgba(253, 71, 20, 0.24);
}
.hoolix-hero-container .hero .hero-img img {
  width: 500px;
  height: auto;
}

.hoolix-why-us-container {
  width: 100%;
  background-color: #F7F8FC;
}
.hoolix-why-us-container .why-us {
  max-width: 1170px;
  margin: auto;
  text-align: center;
  padding: 120px 0;
}
.hoolix-why-us-container .why-us h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 48px;
}
.hoolix-why-us-container .why-us h2 span {
  font-family: "Ubuntu", sans-serif;
  color: #FD4714;
}
.hoolix-why-us-container .why-us p {
  margin-top: 24px;
  font-size: 16px;
  color: #666;
}
.hoolix-why-us-container .why-us .why-us-reasons {
  display: flex;
  column-gap: 30px;
  justify-content: space-between;
  align-items: center;
  margin-top: 64px;
}
.hoolix-why-us-container .why-us .why-us-reasons div {
  background-color: #fff;
  border-radius: 8px;
  padding: 40px;
  text-align: left;
  box-shadow: 14px 24px 72px 0 rgba(102, 102, 102, 0.1);
}
.hoolix-why-us-container .why-us .why-us-reasons div img {
  position: relative;
  left: 0;
  margin-bottom: 48px;
}
.hoolix-why-us-container .why-us .why-us-reasons div h3 {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 500;
}
.hoolix-why-us-container .why-us .why-us-reasons div p {
  font-size: 16px;
  color: #666;
}

.hoolix-our-servies-container {
  width: 100%;
  overflow: hidden;
}
.hoolix-our-servies-container .our-servies {
  max-width: 1170px;
  margin: auto;
  text-align: center;
  padding: 120px 0 0 0;
}
.hoolix-our-servies-container .our-servies h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 48px;
}
.hoolix-our-servies-container .our-servies h2 span {
  font-family: "Ubuntu", sans-serif;
  color: #FD4714;
}
.hoolix-our-servies-container .our-servies p {
  margin-top: 24px;
  font-size: 16px;
  color: #666;
}
.hoolix-our-servies-container .our-servies .our-services-slider {
  margin-top: 39px;
  position: relative;
}
.hoolix-our-servies-container .our-servies .our-services-slider .slick-prev {
  position: absolute;
  top: 575px;
  left: 46%;
  margin-right: 12px;
  z-index: 9;
}
.hoolix-our-servies-container .our-servies .our-services-slider .slick-prev::before {
  content: url("https://nuwan-dev.github.io/hoolix/assets/icons/Btn-prev.svg") !important;
  display: block;
  height: 40px !important;
  width: 40px !important;
  opacity: 1;
}
.hoolix-our-servies-container .our-servies .our-services-slider .slick-prev:hover::before {
  content: url("https://nuwan-dev.github.io/hoolix/assets/icons/Btn-prev-hover.svg") !important;
}
.hoolix-our-servies-container .our-servies .our-services-slider .slick-next {
  position: absolute;
  top: 575px;
  right: 46%;
  z-index: 9;
}
.hoolix-our-servies-container .our-servies .our-services-slider .slick-next::before {
  content: url("https://nuwan-dev.github.io/hoolix/assets/icons/Btn-next.svg") !important;
  display: block;
  height: 40px !important;
  width: 40px !important;
  transition: all ease-in-out 0.3s;
  opacity: 1;
}
.hoolix-our-servies-container .our-servies .our-services-slider .slick-next:hover::before {
  transition: all ease-in-out 0.3s;
  content: url("https://nuwan-dev.github.io/hoolix/assets/icons/Btn-next-hover.svg") !important;
}
.hoolix-our-servies-container .our-servies .our-services-slider .slick-track {
  width: 100%;
  padding: 25px 0 100px 0;
}
.hoolix-our-servies-container .our-servies .our-services-slider .slick-track .service {
  margin: 0 14px;
  display: flex;
  flex-direction: column;
  column-gap: 0;
  transition: ease-in-out 0.3s;
  border-radius: 8px;
}
.hoolix-our-servies-container .our-servies .our-services-slider .slick-track .service .service-img {
  background-image: url("https://nuwan-dev.github.io/hoolix/assets/imgs/service-placeholder.png") !important;
  height: 290px;
  width: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.hoolix-our-servies-container .our-servies .our-services-slider .slick-track .service .service-txt {
  border: solid 2px #E5E5E5;
  border-top: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 32px 16px;
  transition: ease-in-out 0.3s;
}
.hoolix-our-servies-container .our-servies .our-services-slider .slick-track .service .service-txt .s-txt-1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.hoolix-our-servies-container .our-servies .our-services-slider .slick-track .service .service-txt .s-txt-1 h5 {
  font-size: 24px;
  font-weight: 600;
  color: #222222;
  text-align: left;
}
.hoolix-our-servies-container .our-servies .our-services-slider .slick-track .service .service-txt .s-txt-1 .s-txt-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 8px;
}
.hoolix-our-servies-container .our-servies .our-services-slider .slick-track .service .service-txt .s-txt-1 .s-txt-rating img {
  width: 16px;
  height: auto;
}
.hoolix-our-servies-container .our-servies .our-services-slider .slick-track .service .service-txt .s-txt-1 .s-txt-rating p {
  color: #666;
  font-size: 16px;
  font-weight: 500;
  line-height: 0;
  margin-top: 0;
}
.hoolix-our-servies-container .our-servies .our-services-slider .slick-track .service .service-txt .s-txt-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.hoolix-our-servies-container .our-servies .our-services-slider .slick-track .service .service-txt .s-txt-2 .s-technologies {
  display: inherit;
  column-gap: 8px;
}
.hoolix-our-servies-container .our-servies .our-services-slider .slick-track .service .service-txt .s-txt-2 .s-technologies img {
  width: 16px;
  height: auto;
}
.hoolix-our-servies-container .our-servies .our-services-slider .slick-track .service .service-txt .s-txt-2 a {
  color: #FD4714;
  font-size: 16px;
  font-weight: 700;
  padding: 6px;
  border-radius: 8px;
  background-color: #FFE7DB;
  text-decoration: none;
  transition: ease-in-out 0.3s;
}
.hoolix-our-servies-container .our-servies .our-services-slider .slick-track .service .service-txt .s-txt-2 a:hover {
  background-color: #FD4714;
  color: #fff;
}
.hoolix-our-servies-container .our-servies .our-services-slider .slick-track .service:hover {
  box-shadow: 0 16px 80px 0 rgba(254, 147, 94, 0.2);
}
.hoolix-our-servies-container .our-servies .our-services-slider .slick-track .service:hover .service-txt {
  border-color: #FFE7DB;
}

.hoolix-our-work-container {
  width: 100%;
  overflow: hidden;
}
.hoolix-our-work-container .our-work {
  max-width: 1170px;
  margin: auto;
  text-align: center;
  padding: 120px 0 0 0;
}
.hoolix-our-work-container .our-work h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 48px;
}
.hoolix-our-work-container .our-work h2 span {
  font-family: "Ubuntu", sans-serif;
  color: #FD4714;
}
.hoolix-our-work-container .our-work p {
  margin-top: 24px;
  font-size: 16px;
  color: #666;
}
.hoolix-our-work-container .our-work .our-work-slider {
  margin-top: 39px;
  position: relative;
}
.hoolix-our-work-container .our-work .our-work-slider .slick-prev {
  position: absolute;
  top: -22px;
  left: 1045px;
  margin-right: 12px;
  z-index: 9;
}
.hoolix-our-work-container .our-work .our-work-slider .slick-prev::before {
  content: url("https://nuwan-dev.github.io/hoolix/assets/icons/Btn-prev.svg") !important;
  display: block;
  height: 40px !important;
  width: 40px !important;
  opacity: 1;
}
.hoolix-our-work-container .our-work .our-work-slider .slick-prev:hover::before {
  content: url("https://nuwan-dev.github.io/hoolix/assets/icons/Btn-prev-hover.svg") !important;
}
.hoolix-our-work-container .our-work .our-work-slider .slick-next {
  position: absolute;
  top: -22px;
  right: 33px;
  z-index: 9;
}
.hoolix-our-work-container .our-work .our-work-slider .slick-next::before {
  content: url("https://nuwan-dev.github.io/hoolix/assets/icons/Btn-next.svg") !important;
  display: block;
  height: 40px !important;
  width: 40px !important;
  transition: all ease-in-out 0.3s;
  opacity: 1;
}
.hoolix-our-work-container .our-work .our-work-slider .slick-next:hover::before {
  transition: all ease-in-out 0.3s;
  content: url("https://nuwan-dev.github.io/hoolix/assets/icons/Btn-next-hover.svg") !important;
}
.hoolix-our-work-container .our-work .our-work-slider .slick-track {
  width: 100%;
  padding: 25px 0 100px 0;
}
.hoolix-our-work-container .our-work .our-work-slider .slick-track .work {
  margin: 0 14px;
  display: flex;
  flex-direction: column;
  column-gap: 0;
  transition: ease-in-out 0.3s;
  border-radius: 8px;
}
.hoolix-our-work-container .our-work .our-work-slider .slick-track .work .work-img {
  background-image: url("https://nuwan-dev.github.io/hoolix/assets/imgs/service-placeholder.png") !important;
  height: 290px;
  width: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
}
.hoolix-our-work-container .our-work .our-work-slider .slick-track .work .work-txt {
  border: solid 2px #E5E5E5;
  border-top: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 32px 16px;
  transition: ease-in-out 0.3s;
  position: relative;
  top: -4px;
}
.hoolix-our-work-container .our-work .our-work-slider .slick-track .work .work-txt .w-txt-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hoolix-our-work-container .our-work .our-work-slider .slick-track .work .work-txt .w-txt-1 h5 {
  font-size: 24px;
  font-weight: 600;
  color: #222222;
  text-align: left;
}
.hoolix-our-work-container .our-work .our-work-slider .slick-track .work .work-txt .w-txt-1 .w-txt-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 8px;
}
.hoolix-our-work-container .our-work .our-work-slider .slick-track .work .work-txt .w-txt-1 .w-txt-rating img {
  width: 16px;
  height: auto;
}
.hoolix-our-work-container .our-work .our-work-slider .slick-track .work .work-txt .w-txt-1 .w-txt-rating p {
  color: #666;
  font-size: 16px;
  font-weight: 500;
  line-height: 0;
  margin-top: 0;
}
.hoolix-our-work-container .our-work .our-work-slider .slick-track .work .work-txt .w-txt-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.hoolix-our-work-container .our-work .our-work-slider .slick-track .work .work-txt .w-txt-2 .w-technologies {
  display: inherit;
  column-gap: 8px;
}
.hoolix-our-work-container .our-work .our-work-slider .slick-track .work .work-txt .w-txt-2 .w-technologies img {
  width: 13px;
  height: auto;
}
.hoolix-our-work-container .our-work .our-work-slider .slick-track .work .work-txt .w-txt-2 a {
  color: #FD4714;
  font-size: 16px;
  font-weight: 700;
  padding: 6px;
  border-radius: 8px;
  background-color: #FFE7DB;
  text-decoration: none;
  transition: ease-in-out 0.3s;
}
.hoolix-our-work-container .our-work .our-work-slider .slick-track .work .work-txt .w-txt-2 a:hover {
  background-color: #FD4714;
  color: #fff;
}
.hoolix-our-work-container .our-work .our-work-slider .slick-track .work:hover {
  box-shadow: 0 16px 80px 0 rgba(254, 147, 94, 0.2);
}
.hoolix-our-work-container .our-work .our-work-slider .slick-track .work:hover .work-txt {
  border-color: #FFE7DB;
}

.hoolix-testimonial-container {
  width: 100%;
  overflow: hidden;
  background-color: #F7F8FC;
}
.hoolix-testimonial-container .t-wrapper {
  max-width: 1170px;
  margin: auto;
  padding: 120px 0;
}
.hoolix-testimonial-container .t-wrapper .testimonials {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.hoolix-testimonial-container .t-wrapper .testimonials .t-txt {
  text-align: center;
}
.hoolix-testimonial-container .t-wrapper .testimonials .t-txt h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 48px;
}
.hoolix-testimonial-container .t-wrapper .testimonials .t-txt h2 span {
  font-family: "Ubuntu", sans-serif;
  color: #FD4714;
}
.hoolix-testimonial-container .t-wrapper .testimonials .t-txt p {
  margin-top: 24px;
  font-size: 16px;
  color: #666;
}
.hoolix-testimonial-container .t-wrapper .testimonials .t-slider {
  margin-top: 65px;
  position: relative;
}
.hoolix-testimonial-container .t-wrapper .testimonials .t-slider .slick-prev::before {
  content: url("https://nuwan-dev.github.io/hoolix/assets/icons/Btn-prev.svg") !important;
  display: block;
  height: 40px !important;
  width: 40px !important;
  opacity: 1;
  transition: all ease-in-out 0.3s;
}
.hoolix-testimonial-container .t-wrapper .testimonials .t-slider .slick-prev {
  position: absolute;
  top: 420px;
  left: 46%;
  margin-right: 12px;
  z-index: 9;
}
.hoolix-testimonial-container .t-wrapper .testimonials .t-slider .slick-prev:hover::before {
  content: url("https://nuwan-dev.github.io/hoolix/assets/icons/Btn-prev-hover.svg") !important;
}
.hoolix-testimonial-container .t-wrapper .testimonials .t-slider .slick-next {
  position: absolute;
  top: 420px;
  right: 46%;
  z-index: 9;
}
.hoolix-testimonial-container .t-wrapper .testimonials .t-slider .slick-next::before {
  content: url("https://nuwan-dev.github.io/hoolix/assets/icons/Btn-next.svg") !important;
  display: block;
  height: 40px !important;
  width: 40px !important;
  transition: all ease-in-out 0.3s;
  opacity: 1;
}
.hoolix-testimonial-container .t-wrapper .testimonials .t-slider .slick-next:hover::before {
  content: url("https://nuwan-dev.github.io/hoolix/assets/icons/Btn-next-hover.svg") !important;
}
.hoolix-testimonial-container .t-wrapper .testimonials .t-slider .slick-track {
  padding-bottom: 50px;
}
.hoolix-testimonial-container .t-wrapper .testimonials .t-slider .testimoial {
  background-color: #fff;
  padding: 28px 68px 34px 34px;
  border-radius: 10px;
  position: relative;
  transition: 0.3s ease-in-out;
  margin: 0 10px;
}
.hoolix-testimonial-container .t-wrapper .testimonials .t-slider .testimoial > img {
  width: 68px;
  height: auto;
  margin: auto;
}
.hoolix-testimonial-container .t-wrapper .testimonials .t-slider .testimoial .testimonial-msg {
  margin-top: 25px;
  font-size: 16px;
  color: #444;
  text-align: center;
}
.hoolix-testimonial-container .t-wrapper .testimonials .t-slider .testimoial .testimonial-prsn {
  font-size: 18px;
  font-weight: 600;
  color: #222222;
  margin-top: 34px;
  text-align: center;
}
.hoolix-testimonial-container .t-wrapper .testimonials .t-slider .testimoial .testimonial-des {
  color: #666;
  font-size: 14px;
  text-align: center;
}
.hoolix-testimonial-container .t-wrapper .testimonials .t-slider .testimoial:hover {
  box-shadow: 0 8px 16px 0 rgba(253, 71, 20, 0.24);
}

footer {
  position: relative;
}
footer .hoolix-newsletter-container {
  width: 100%;
  margin-top: 120px;
  position: relative;
  z-index: 2;
}
footer .hoolix-newsletter-container .newsletter {
  margin: auto;
  width: 1170px;
  height: 416px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  background-color: #FD4714;
  background-image: url("/assets/icons/Element.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom left;
  border-radius: 16px;
  z-index: 2;
}
footer .hoolix-newsletter-container .newsletter h3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 48px;
  font-weight: bold;
  color: #fff;
}
footer .hoolix-newsletter-container .newsletter a {
  font-family: "Ubuntu", sans-serif;
  font-size: 48px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
footer .hoolix-footer-container {
  width: 100%;
  background-color: #F7F8FC;
  position: absolute;
  top: 50%;
  padding-top: 325px;
  padding-bottom: 50px;
}
footer .hoolix-footer-container .footer {
  display: flex;
  width: 1170px;
  margin: auto;
}
footer .hoolix-footer-container .footer .footer-col-1 {
  width: 40%;
  width: 255px;
  margin-right: 317px;
}
footer .hoolix-footer-container .footer .footer-col-1 a {
  margin-bottom: 24px !important;
  text-decoration: none;
  color: #FD4714;
  font-size: 24px;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
}
footer .hoolix-footer-container .footer .footer-col-1 p {
  margin-bottom: 16px;
  margin-top: 24px;
}
footer .hoolix-footer-container .footer .footer-col-2,
footer .hoolix-footer-container .footer .footer-col-3,
footer .hoolix-footer-container .footer .footer-col-4 {
  width: 20%;
  display: flex;
  flex-direction: column;
}
footer .hoolix-footer-container .footer .footer-col-2 h4,
footer .hoolix-footer-container .footer .footer-col-3 h4,
footer .hoolix-footer-container .footer .footer-col-4 h4 {
  margin-bottom: 32px;
}
footer .hoolix-footer-container .footer .footer-col-2 a,
footer .hoolix-footer-container .footer .footer-col-3 a,
footer .hoolix-footer-container .footer .footer-col-4 a {
  text-decoration: none;
}
footer .hoolix-footer-container .footer .footer-col-2 a:not(:last-child),
footer .hoolix-footer-container .footer .footer-col-3 a:not(:last-child),
footer .hoolix-footer-container .footer .footer-col-4 a:not(:last-child) {
  margin-bottom: 16px;
}

.hoolix-chat-container {
  position: fixed;
  right: 75px;
  bottom: 75px;
}
.hoolix-chat-container .chat {
  position: relative;
}
.hoolix-chat-container .chat a {
  position: absolute;
}
.hoolix-chat-container .chat a img {
  width: 50px;
}
.hoolix-chat-container .chat .chat-hover {
  position: absolute;
  bottom: -35px;
  right: 10px;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  font-size: 20px;
  display: none;
}

/*# sourceMappingURL=main.css.map */
