@import 'var';

// mobile
@media screen and (max-width: 425px) {
    .hoolix-top-nav-container {
        display: none !important;
    }

    .hoolix-mb-nav-container {
        display: block !important;
    }

    .hoolix-hero-container {
        width: auto;
        padding: 5%;

        .hero {
            flex-direction: column;
            padding-top: 0;

            .hero-img {
                img {
                    width: 100%;
                    position: relative;
                    top: 75px;
                }
            }
        }
    }

    .hoolix-why-us-container {
        .why-us {
            .why-us-reasons {
                flex-direction: column;
            }
        }
    }

    .hoolix-chat-container {
        bottom: 135px;
    }

    .hoolix-our-servies-container {
        .our-servies {
            .our-services-slider {
                .service {
                    margin-right: 0 !important;
                }
            }
        }
    }

}