@import 'var';

// mobile
@media screen and (max-width: 425px) {
    .hoolix-top-nav-container {
        display: none !important;
    }

    .hoolix-mb-top-nav-container {
        display: block;
    }

    .hoolix-mb-nav-container {
        display: block !important;
    }

    .hoolix-hero-container {
        width: auto;
        padding: 5%;

        .hero {
            flex-direction: column;
            padding-top: 0;

            .hero-img {
                img {
                    width: 100%;
                    position: relative;
                    top: 75px;
                }
            }
        }
    }

    .hoolix-why-us-container {
        width: auto;
        padding: 5%;

        .why-us {
            .why-us-reasons {
                flex-direction: column;
                row-gap: 25px;
            }
        }
    }

    .hoolix-our-servies-container {
        width: auto;
        padding: 5%;

        .our-servies {
            .our-services-slider {
                .slick-track {
                    .service {
                        margin: auto !important;
                        padding-right: 10px;
                        padding-left: 10px;
                    }
                }
            }
        }
    }

    // ------------------

    .hoolix-chat-container {
        bottom: 135px;
    }

}