//-> colors

//-> primary colors
$orange: #FD4714;
$dark: #222222;
$dark-grey: #444;
$light-grey: #666;
$blue: #4086F4;
$yellow: #FFB60A;

//-> icon colors
$icon-grey: #999;
$icon-light-grey: #E5E5E5;

//-> background colors
$white: #fff;
$grey-white: #F7F8FC;
