//-> colors

//-> primary colors
$orange: #FD4714;
$dark: #222222;
$dark-grey: #444;
$light-grey: #666;
$blue: #4086F4;
$yellow: #FFB60A;

//-> icon colors
$icon-grey: #999;
$icon-light-grey: #E5E5E5;

//-> background colors
$white: #fff;
$grey-white: #F7F8FC;
$tp-white: rgba(255, 255, 255, 0.3);

// fonts
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
$ubuntu: "Ubuntu", sans-serif;

@font-face {
    font-family: "Calibri Bold";
    src: url('/calibri-bold.ttf');
}
$calibriB: "Ubuntu", sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$poppins: "Poppins", sans-serif;


$width: 1170px;